.blog {
	font-family: Arial;
}

.global {;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	float: left;
	width: 70%;
}

.article {
	text-align: justify;
}

.titre {
	background-color: #BCE954;
}
.LeTitre{
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	font-style: bold;
}

.dateArt{
	font-style: italic;
	font-size:15px;
	text-align:left;
	vertical-align: center;
	padding-left:5px;
	padding-right:100px;
}

.fleche{
	float:right;
	padding-top:6px;
	}
	
.resume {
	//width: 100%;
	//float:left;
}

.resumeContent{
	//width:150px;
	//float:left;
}

.resumeTag{
	text-align:right;
	font-size:15px;
	font-style:italic;
	border-style :dashed;
	border-width:1px;
	//margin-left:80%;
	float:right;
	padding : 5px;
	margin-left:10px;
}
.content {
	text-align: justify;
}

.comment {
	text-align: justify;
}

.un_com {
	border: 1px dotted #000000;
	padding: 3px;
}

.nb_com {
	text-align: right;
	font-style: italic;
}

.auteur_com {
	text-align: right;
	font-style: italic;
}

.tag {
	font-family: Arial;
	margin-left: 75%;
	border: 1px solid #000000;
	background-color: #F76541;
	padding: 10px;
	margin-top: 20px;
	margin-right:20px;
}

.year{
	font-family: Arial;
	margin-left: 75%;
	border: 1px solid #000000;
	background-color: #83F244;;
	padding: 10px;
	margin-top: 20px;
	margin-right:20px;
	list-style-type: none;
	text-decoration: none;
	text-align: left;
	padding: 5px;
	
}

.year a{
	text-decoration: none;
}

.year li{
	list-style-type: none;
}

.datemenu {
	padding: 10px;
}

.year ul{
	padding: 5px;
	list-style-type: none;
}


/** I think you can add class h1, h2, .... for the markdown purpose **/